/*
#364b4e dark blue (background)
#ec5a5a red;
#ebf595 yellow;
#71d3e2 light blue;
#9881be purple;
#aaee84 green;
*/

.mainFxmlClass {

}

.textShadow {
   -fx-effect: dropshadow(gaussian, #1c2829, 5, 0.0001, 5, 5);
}

#background {
   -fx-background-color: #364b4e;
}

.button {
   -fx-background-color: transparent;
}

#startBtn {
   -fx-background-color: #aaee84;
   -fx-background-radius: 10;
   -fx-effect: dropshadow(gaussian, #1c2829, 20, 0.0001, 5, 5);
}

#startBtn:hover {
   -fx-background-color: #c1eea9;
}

#infoSection {
   -fx-background-color: #364b4e;
}
